body {
  background-color: rgba(247,247,247,1);
}

.App {
  position: relative;
  top: 10rem;
  left: 30rem;
  width: 5rem;
  height: 10rem;
}

input {
  outline: none;
}

#phone {
  color: rgba(201, 201, 201, 1);
  font-size: 0.75rem!important;
}

#areaCode {
  height: 2rem;
  width: 2rem;
  
  background-color: rgba(247,247,247,1);
  
  border-right-style: none !important;
  border: 1px solid rgba(237, 237, 237, 1);
}

#number {
  height: 2rem;
  width: 13rem;

  background-color: rgba(247,247,247,1);

  border: 1px solid rgba(237, 237, 237, 1);
  padding-top: 10px;
  padding-left: 7px;
}

#searchBar {
  margin-top: 1rem;
  background-color: white;

  width: 12.25rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow .up:hover {
  color: blue;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-spacing: 
}

.arrows:hover {
  color: green;
}

#searchbar table {
  margin: auto;
}


table {
  border-spacing: 25px;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 1%), 0 3px 24px rgb(0 0 0 / 20%);
  border: none;
  transition: color 150ms ease-out;
  cursor: pointer;
}

.body {
  width: 100%;
  height: 100%;
}